In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

In [3]:
csv_file = os.path.join('..', 'WeatherPy', 'Output', 'city_weather.csv')

city_df = pd.read_csv(csv_file)
city_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,986717,Kruisfontein,ZA,-34.0033,24.7314,53.35,80,0,6.51
1,553878,Kama,RU,56.3051,54.0936,62.71,90,99,12.01
2,3652764,Puerto Ayora,EC,-0.7393,-90.3518,73.54,89,37,4.00
3,3440777,Rocha,UY,-34.4833,-54.3333,49.95,65,100,8.52
4,1497210,Novoagansk,RU,61.9449,76.6625,64.81,38,2,6.11
...,...,...,...,...,...,...,...,...,...
575,2396518,Port-Gentil,GA,-0.7193,8.7815,77.67,82,94,11.52
576,3984997,San Quintín,MX,30.4833,-115.9500,66.34,79,2,2.30
577,2690170,Nässjö,SE,57.6531,14.6968,50.92,73,90,4.45
578,2189343,Kaeo,NZ,-35.1000,173.7833,62.33,75,9,7.72
579,3994469,Ojinaga,MX,29.5667,-104.4167,88.75,29,1,19.57

In [4]:
gmaps.configure(api_key=g_key)

In [6]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Clouds'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
90,1513650,Hamza,UZ,40.4264,71.4956,78.75,26,0,5.01
101,1714733,Dingle,PH,10.9995,122.6711,89.71,60,8,4.97
116,133595,Gerāsh,IR,27.6652,54.1371,87.94,18,0,5.79
127,7082481,Khuzdar,PK,27.7384,66.6434,84.83,25,0,4.65
194,5044290,Saint Anthony,US,45.0205,-93.2180,75.24,52,1,3.00
222,88533,Awjilah,LY,29.1081,21.2869,75.67,33,0,7.11
238,2109701,Auki,SB,-8.7676,160.7034,86.79,61,8,3.96
283,2212775,Sabha,LY,27.0377,14.4283,76.66,24,0,9.26
289,5038108,Moorhead,US,46.8739,-96.7676,79.59,47,1,8.05
324,4548267,Ponca City,US,36.7070,-97.0856,80.37,64,1,6.91
332,5767918,Pierre,US,44.3683,-100.3510,78.08,53,1,4.00
369,2109528,Buala,SB,-8.1450,159.5921,85.24,65,3,7.47
402,5364271,Laguna,US,38.4210,-121.4238,82.94,26,1,0.00
447,4705349,Laredo,US,27.5064,-99.5075,82.85,61,1,4.61
462,141665,Bandar-e Lengeh,IR,26.5579,54.8807,87.94,67,0,7.54
477,5530022,San Angelo,US,31.4638,-100.4370,81.43,49,1,1.01
545,2381334,Atar,MR,20.5169,-13.0499,85.55,20,2,8.05
546,2460954,Araouane,ML,18.9048,-3.5265,88.97,14,0,1.92
574,1514844,Pakhtakoron,TJ,40.1571,68.7466,85.68,15,0,2.68

In [8]:
hotel_df['Hotel Name'] = ""
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
90,1513650,Hamza,UZ,40.4264,71.4956,78.75,26,0,5.01,
101,1714733,Dingle,PH,10.9995,122.6711,89.71,60,8,4.97,
116,133595,Gerāsh,IR,27.6652,54.1371,87.94,18,0,5.79,
127,7082481,Khuzdar,PK,27.7384,66.6434,84.83,25,0,4.65,
194,5044290,Saint Anthony,US,45.0205,-93.2180,75.24,52,1,3.00,
222,88533,Awjilah,LY,29.1081,21.2869,75.67,33,0,7.11,
238,2109701,Auki,SB,-8.7676,160.7034,86.79,61,8,3.96,
283,2212775,Sabha,LY,27.0377,14.4283,76.66,24,0,9.26,
289,5038108,Moorhead,US,46.8739,-96.7676,79.59,47,1,8.05,
324,4548267,Ponca City,US,36.7070,-97.0856,80.37,64,1,6.91,
332,5767918,Pierre,US,44.3683,-100.3510,78.08,53,1,4.00,
369,2109528,Buala,SB,-8.1450,159.5921,85.24,65,3,7.47,
402,5364271,Laguna,US,38.4210,-121.4238,82.94,26,1,0.00,
447,4705349,Laredo,US,27.5064,-99.5075,82.85,61,1,4.61,
462,141665,Bandar-e Lengeh,IR,26.5579,54.8807,87.94,67,0,7.54,
477,5530022,San Angelo,US,31.4638,-100.4370,81.43,49,1,1.01,
545,2381334,Atar,MR,20.5169,-13.0499,85.55,20,2,8.05,
546,2460954,Araouane,ML,18.9048,-3.5265,88.97,14,0,1.92,
574,1514844,Pakhtakoron,TJ,40.1571,68.7466,85.68,15,0,2.68,

In [10]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
90,1513650,Hamza,UZ,40.4264,71.4956,78.75,26,0,5.01,NaN
101,1714733,Dingle,PH,10.9995,122.6711,89.71,60,8,4.97,NaN
116,133595,Gerāsh,IR,27.6652,54.1371,87.94,18,0,5.79,Chelpasin
127,7082481,Khuzdar,PK,27.7384,66.6434,84.83,25,0,4.65,NaN
194,5044290,Saint Anthony,US,45.0205,-93.2180,75.24,52,1,3.00,Graduate Minneapolis
222,88533,Awjilah,LY,29.1081,21.2869,75.67,33,0,7.11,NaN
238,2109701,Auki,SB,-8.7676,160.7034,86.79,61,8,3.96,Auki Lodge
283,2212775,Sabha,LY,27.0377,14.4283,76.66,24,0,9.26,فندق علي
289,5038108,Moorhead,US,46.8739,-96.7676,79.59,47,1,8.05,Microtel Inn & Suites By Wyndham Moorhead Farg...
324,4548267,Ponca City,US,36.7070,-97.0856,80.37,64,1,6.91,"Holiday Inn Express & Suites Ponca City, an IH..."
332,5767918,Pierre,US,44.3683,-100.3510,78.08,53,1,4.00,Holiday Inn Express & Suites Pierre-Fort Pierr...
369,2109528,Buala,SB,-8.1450,159.5921,85.24,65,3,7.47,Ghaseali Island Resort
402,5364271,Laguna,US,38.4210,-121.4238,82.94,26,1,0.00,Hilton Garden Inn Sacramento Elk Grove
447,4705349,Laredo,US,27.5064,-99.5075,82.85,61,1,4.61,La Posada Hotel
462,141665,Bandar-e Lengeh,IR,26.5579,54.8807,87.94,67,0,7.54,Diplomat Hotel
477,5530022,San Angelo,US,31.4638,-100.4370,81.43,49,1,1.01,Pearl On The Concho Surestay Collection By Bes...
545,2381334,Atar,MR,20.5169,-13.0499,85.55,20,2,8.05,Bab Sahara
546,2460954,Araouane,ML,18.9048,-3.5265,88.97,14,0,1.92,NaN
574,1514844,Pakhtakoron,TJ,40.1571,68.7466,85.68,15,0,2.68,NaN

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""


# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))